body {
  color: lightgrey;
  background-image:url("background_image.png");
}

article > h1 {
  text-align: center;
  color: black;
  text-shadow: darkgrey 5px 5px 5px;
  background-color: 	lightgrey;
  border-top: 2.5px solid black;
  border-bottom: 2.5px solid black;
  border-radius: 10px;
}

article > section > h2 {
  color: black;
  text-decoration: underline;
  text-decoration-style:double;
  text-decoration-color: darkgrey;
}

section > h3 {
  color: darkgrey;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: black;
}

table {
  border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid black;
}

tr:hover {
  background-color: grey;
  color: black;
  text-shadow: black 0.5px 0 0.5px;
}

a {
  color: darkgrey;
  text-decoration: underline;
}
a:hover {
  color: white;
  background-color: black;
  text-decoration: underline;
  text-decoration-style: double;
  text-decoration-color: white;
}

a:visited {
  color: lightgrey;
  text-decoration: none;
}

ul {
  text-indent: 5px;
  list-style-type: circle;
}
